<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finance.roboadvisor.product.mapper.ProductHoldingSnapshotMapper">

    <insert id="upsert" parameterType="com.finance.roboadvisor.product.entity.AdvisorProductHoldingSnapshot">
        insert into advisor_product_holding_snapshot (product_id, snapshot_date, holding_json)
        values (#{productId}, #{snapshotDate}, #{holdingJson})
        on duplicate key update
            holding_json = values(holding_json)
    </insert>
</mapper>
